.cursor-pointer {
  cursor: pointer;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.btn-success {
  background-color: #107a54;
  border: none;
}

.btn-success:hover {
  background-color: #000000;
}

.text-success {
  color: #218838 !important;
}

.text-success:hover {
  text-decoration: underline;
}
.header-container {
    background-color: #107a54; /* Color de encabezado */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    position: relative;
  }